@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat Alternates", sans-serif !important;
  line-height: 1 !important;
  letter-spacing: 0 !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
